<footer class="footer-section" style="color:white">
<div class="container text-center">
    <hr style="color: #ffffff;width: 90%;">
<div class="copyright" id="copy">Copyright ©<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by <a href="https://github.com/deveshprasad/my" target="_blank">DeveshPrasad<br><i class="fa fa-github"></i>  Check Github Profile : 'deveshprasad'</a>

</div>
</div>
</footer>
</body>
</html>