<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Socials</title>
    <link rel="shortcut icon" href="favicon.ico" >
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://use.fontawesome.com/a73d65bbee.js"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
    <nav class="navbar navbar-default navbar-light" style="background-color: rgba(0, 0, 0, 0.65);color: whitesmoke;">
  <div class="container-fluid">
      <div class="navbar-header">
          <a href="/" class="navbar-brand bigbox" style="color:white;margin-right: 10px;font-weight: 800;"><i class="fa fa-cutlery"></i> Social</a>
         <% if(!currentUser){  %>
            <a href="/register" class="navbar-brand bigbox" style="color:white;margin-left: 10px;font-weight:800;"><i class="fa fa-user-plus"></i>  SignUp</a>
            <a href="/login" class="navbar-brand bigbox" style="color:white;font-weight: 800;"><i class="fa fa-sign-in"></i>  SignIn</a>
          <%}else{ %>
            <a style="font-weight: 800;">        Hey ! <%= currentUser.username%>       </a>
            <a href="/logout" class="navbar-brand bigbox" style="color:white;margin:0 10px;font-weight:800;"><i class="fa fa-sign-out"></i>  LogOut</a>

          <%}%>
          
          
      </div>
      
  </div>
    </nav>
    <div class="container">
      <% if(error&& error.length>0){%>
        <div class="alert alert-danger" role="alert"><%=error%></div>
      <% } %>  
      <% if(success&& success.length>0){%>
      <div class="alert alert-success" role="alert"><%=success%></div>
      <% } %>  
    </div>
    