<%- include("partials/header") %>
<style>body{background-image:url(/images/background.jpg);font-family: 'Architects Daughter', cursive;letter-spacing: 3px;background-repeat: no-repeat;background-size:cover;background-position: center center;font-weight: 800;}.login-wrap{width: 100%;margin:auto;margin-top:30px;max-width:550px;min-height:750px;position:relative;background-color: rgb(0, 0, 0,0.65);box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);}</style>
<div class="body hey">
	<div class="login-wrap hey animate-zoom">
		<div class="login-html" style="background-color:rgba(0,0,0,0.65)">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Contact Us</label>
			<div class="login-form my-3">
					<form action="/contact" method="POST">
					<div class="group my-4">
						<label for="user" class="label">NAME</label>
						<input id="user" name="name" type="text" class="input" placeholder="Full Name"/>
					</div>
                    <div class="group my-4">
						<label for="user" class="label">EMAIL</label>
						<input id="user" name="email" type="email" class="input" placeholder="abc@example.com"/>
					</div>
                    <div class="group my-4">
                        <label for="user" class="label">MESSAGE</label>
                        <textarea id="user" class="input" name="message" placeholder="Your Message Here...PLEASE, Also Write Your Email To Which We Should Respond ASAP Here." style="height:250px"></textarea>
					</div>
                    <div class="group my-4 px-5">
						<input type="submit" class="button bigbox" value="Contact Us">
					</div>
					</form>
					<div class="hr"></div>
			</div>
		</div>
	</div>
</div>

<%- include("partials/footer") %>