<%- include("partials/header") %>
<style>body{background-image:url(/images/background.jpg);font-family: 'Architects Daughter', cursive;letter-spacing: 5px;background-size:cover;background-position: center center;font-weight: 800;}</style>
<div class="body hey">
    <div class="container" style="background-color: rgba(0,0,0,0.85);color: rgb(255, 255, 255);">
  <h1 style="font-size:3rem;font-weight:800"><i class="fa fa-book"></i> Documentation</h1>
  <div class="row px-1">
    <div class="col-lg-4">
<img src="/images/mypic.jpg" alt="" srcset="">

    </div>
    <div class="col-lg-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae interdum odio. Vestibulum eget mauris eleifend ligula mattis egestas. Mauris elementum tincidunt pellentesque. Morbi et quam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eget dolor id tellus congue porttitor quis a lorem. Pellentesque bibendum enim erat, in lobortis nulla facilisis tempor. Praesent sed condimentum nisi. In hac habitasse platea dictumst. Pellentesque at efficitur enim, vel suscipit erat. Mauris tincidunt sapien at mollis ultricies. Aliquam gravida diam id sapien cursus, vel sagittis ante mollis. In hac habitasse platea dictumst. Etiam vel ipsum id mi tincidunt condimentum. Donec sit amet lacus auctor, dictum nisi eu, dapibus eros.

        Vivamus dictum tortor in lectus tempor, venenatis vulputate tortor ullamcorper. Quisque eros ante, rhoncus non orci et, interdum fringilla tortor. Proin eget magna sit amet turpis imperdiet pellentesque. Cras quis nibh varius, egestas dui quis, vehicula nulla. </p>
    </div>
    <div class="row p-2" style="text-align: center;">
      <div class="col-lg-12">
        <div class="social px-2" style="font-size:3.5rem;margin:0 auto">
          <a class="bigbox" style="background-color:white;padding:0 10px;color:#0088cc" href="https://t.me/deveshp" target="_blank"><i class="fa fa-telegram bigbox"></i></a>
        <a class="bigbox" style="padding:0 10px" href="#" onclick='window.open("https://github.com/deveshprasad");return false;'><i class="fa text-white fa-github bigbox"></i></a>
        
        <a class="bigbox" style="background-color:#2867B2;color:white;padding:0 10px" href="https://www.linkedin.com/signup/cold-join?session_redirect=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2Fprofile%2Fview&trk=login_reg_redirect" target="_blank"><i class="fa  fa-linkedin bigbox"></i></a>
        <a class="bigbox" style="background-color:#c71610;color:white;padding:0 10px" href="mailto:deveshprasad577@yahoo.com" target="_blank"><i class="fa fa-envelope bigbox"></i></a>
        <a class="bigbox" style="background-color:white;color:#25D366;padding:0 10px" href="https://wa.me/918076770061" target="_blank"><i class="fa fa-whatsapp bigbox"></i></a>
        <a class="bigbox" style="padding:0 10px" href="#" onclick='window.open("https://github.com/deveshprasad");return false;'><i class="fa text-white fa-globe bigbox"></i></a>
        <a  href="" class="btn btn-lg" style="background-color:black;color:white;font-weight:800;border: 2px solid white">Download Resume <i class="fa fa-download bigbox"></i></a>
        </div>
      </div>
    </div>
    <div class="row px-1">
      <div class="col-lg-12">
<p>Sed auctor, arcu vel facilisis vehicula, nulla magna vestibulum felis, nec pretium dolor nisi et nisl. Nulla eget urna vulputate, lacinia est id, pulvinar leo. Sed volutpat purus sed nisi hendrerit imperdiet. In hac habitasse platea dictumst. Etiam nec nisi et dolor vehicula sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eu lectus varius, hendrerit velit a, ultrices justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        
  Nulla sollicitudin quam at justo laoreet bibendum. Proin augue dui, venenatis a varius vel, vulputate id nulla. Suspendisse ligula nunc, finibus ut egestas sit amet, aliquam sit amet orci. Pellentesque a augue vitae tortor pretium rutrum. Cras faucibus lorem a maximus consequat. Aliquam euismod arcu vel felis gravida, ac porta neque ultricies. Donec euismod pharetra dolor, tempus fringilla arcu lacinia id. Aenean in tortor nisi. Curabitur blandit mauris augue, ut porttitor purus feugiat ut. In fermentum mollis tristique. Pellentesque tristique erat a accumsan euismod. Etiam feugiat efficitur eros id ultricies. Sed et urna justo. Quisque semper est id mi laoreet maximus ac ut risus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
  
  Vivamus vitae lorem quis lorem tincidunt maximus vestibulum quis ante. Nunc urna urna, sagittis id scelerisque non, semper imperdiet velit. Etiam metus metus, convallis vel enim non, viverra tempus lacus. Nam accumsan est risus, vel semper mi vestibulum ac. Nullam sagittis, augue in ultricies fermentum, nisi mi consequat nisl, sed consectetur magna justo ac orci. Sed eleifend lacus ut lectus rhoncus ultrices. Aenean ullamcorper at tellus egestas imperdiet. Vivamus ut efficitur neque. Aliquam congue sapien vel metus iaculis porta.
  
  Etiam ut dolor sagittis, facilisis odio vel, vehicula nulla. Ut elit augue, tempor eget tincidunt eu, finibus non eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed id lectus nec justo scelerisque semper in non arcu. Cras sollicitudin justo vel vehicula facilisis. Vivamus nec lectus vel neque tempus aliquam in quis urna. Proin at mi egestas, sodales magna feugiat, vehicula nunc. Donec posuere cursus dignissim. Morbi nulla enim, ullamcorper sit amet iaculis sit amet, commodo quis leo.</p>
      </div>
    </div>
  </div>
  
    </div>
</div>
<%- include("partials/footer") %>