<%- include("partials/header") %>
<style>body{background-image: url(/images/background.jpg);font-family: 'Architects Daughter', cursive;letter-spacing: 3px;color:white;background-size:cover;background-position: center center;}</style>
<div class="container hey">
	<div class="row" style="background-color: rgba(0,0,0,0.75);color:white;margin: 12% auto;">
		<div class="col-md-12">
			<form action="/forgot" method="POST">
				<div class="" style="text-align: center;">
                	<legend style="font-size: 3.5rem;color:white">Forgot Password</legend>
				</div>
				<div class="form-group">
					<label style="font-size: 2.5rem;" for="email">Email</label>
					<input type="email" name="email" autofocus class="form-control" placeholder="EMAIL">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-lg bigbox btn-block" style="background-color: #000000;color: rgb(255, 255, 255);border: 2px solid rgba(255, 255, 255);box-shadow:0 6px 9px 6px rgb(0, 0, 0,0.9);border-radius: 5px;" value="RESET PASSWORD">
				</div>
			</form>
		</div>
	</div>
	
</div>
<%- include("partials/footer") %>