<%- include("partials/header") %>
<style>body{background-image: url(/images/background.jpg);font-family: 'Architects Daughter', cursive;letter-spacing: 3px;color:white;background-size:cover;background-position: center center;}.login-wrap{width: 100%;margin:auto;margin-top:30px;max-width:550px;min-height:550px;position:relative;background-color: rgb(0, 0, 0,0.55);box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);}</style>
<div class="body hey">
	<div class="login-wrap hey">
		<div class="login-html" style="background-color:rgba(0,0,0,0.65)">
			<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Forgot Password</label>
			<div class="login-form my-4">
					<form action="/forgot" method="POST">
                    <div class="group my-4">
						<label style="font-size: 2.5rem;" for="email">Email</label>
					<input type="email" name="email" autofocus class="input" placeholder="abc@email.com">
					</div>
                    <div class="group my-4 px-4">
                        <input type="submit" class="btn btn-lg bigbox btn-block butt"  value="Reset Password">
					</div>
					<div class="group my-4 px-2">
						<label style="font-size: 1.2rem;" for="email">Check your spam folder if the mail is not visible in your inbox.</label>
					</div>
					<div class="group my-2 px-5">
						<a href="/login" style="text-decoration: none;"><input type="" class="button2 bigbox" value="Already Have an Account ! Sign In"></a>
					</div>
					</form>
					<div class="hr"></div>
			</div>
		</div>
	</div>
</div>
<%- include("partials/footer") %>