<%- include("partials/header") %>

<!-- <h1>Login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username" id="">
    <input type="password" name="password" placeholder="password" id="">
    <input type="submit" value="Loogin!">
</form> -->
<style>
    body{
        background-image:url(https://jooinn.com/images/italian-food-background-1.jpg);
		font-family: 'Architects Daughter', cursive;
letter-spacing: 2px;
        
        background-repeat: no-repeat;
        background-size:     cover;  
    background-position: center center;  
    
    }
</style>
<div class="login-wrap">
	<div class="login-html">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
		<input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">Forgot Password</label>
		<div class="login-form">
			<div class="sign-in-htm">
                <form action="/login" method="POST">
				<div class="group">
					<label for="user" class="label">Username or Email</label>
					<input id="user" name="username" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" name="password" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Sign In">
                </div>
                </form>
				<div class="hr"></div>
			</div>
			<div class="for-pwd-htm">
				<div class="group">
					<label for="user" class="label">Username or Email</label>
					<input id="user" type="text" class="input">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Reset Password">
				</div>
				<div class="hr"></div>
			</div>
		</div>
	</div>
</div>
<%- include("partials/footer") %>