<%- include("partials/header") %>
<!-- <h1>REGISTER FORM</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username" id="">
    <input type="password" name="password" placeholder="password" id="">
    <button type="submit">Submit</button>
</form> -->
<style>
    body{
        background-image:url(https://jooinn.com/images/italian-food-background-1.jpg);
		font-family: 'Architects Daughter', cursive;
letter-spacing: 2px;
        
        background-repeat: no-repeat;
        background-size:     cover;  
    background-position: center center;  
    
	}
	


</style>
<div class="login-wrap" >
	<div class="login-html full-circle" style="background-color:rgba(0,0,0,0.75)">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign Up</label>
		<input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab">Other Options</label>
		<div class="login-form">
        <form action="/register" method="POST">
			<div class="sign-in-htm">
				<div class="group">
					<label for="user" class="label">Username or Email</label>
					<input id="user" name="username" type="text" class="input">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" type="password" name="password" class="input" data-type="password">
				</div>
				<div class="group bigbox">
					<input type="submit" class="button" value="Sign In">
				</div>
				<div class="hr"></div>
            </div>
        </form>
			<div class="for-pwd-htm">
				<div class="group">
					<label for="user" class="label">Username or Email</label>
					<input id="user" name="username" type="text" class="input">
				</div>
				<div class="group">
					<input type="submit" class="button" value="Reset Password">
				</div>
				<div class="hr"></div>
            </div>
        
		</div>
	</div>
</div>
<%- include("partials/footer") %>