<%- include("partials/header") %>
<style>body{background-image:url(/images/background.jpg);font-family: 'Architects Daughter', cursive;letter-spacing: 3px;font-weight: 600;background-size: cover;background-position: center center;}.google{width:45%;margin-top:10px;}.login-wrap{width: 100%;margin:auto;margin-top:40px;max-width:950px;min-height:700px;position:relative;background-color: rgb(0, 0, 0,0.75);box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);}@media only screen and (max-width: 992px){.login-wrap{max-width:650px;min-height:1100px;}}</style>
<div class="body hey">
	<div class="login-wrap hey animate-zoom" >
		<div class="login-html" style="background-color:rgba(0,0,0,0.65)">
		    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab" style="color:white">Sign Up</label>
		    <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" style="color:white"  class="tab">Other Options</label>
			<div class="login-form">
			<form action="/register" method="POST" enctype="multipart/form-data">
			<div class="sign-in-htm my-2">
				<div class="row">
					<div class="col-lg-6 my-2">
						<div class="group">
							<label for="user" class="label">Username or Email</label>
							<input id="user" name="username" type="text" class="input" required placeholder="Username">
						</div>
						<div class="group">
							<label for="pass" class="label">Password (Strong Please include Characters,No's,etc)</label>
							<input id="pass" type="password" name="password" class="input" required data-type="password" placeholder="Password">
						</div>
						<div class="group">
							<label for="pass" class="label">First Name</label>
							<input id="pass" type="text" name="firstName"  class="input" required  placeholder="First Name">
						</div>
						<div class="group">
							<label for="pass" class="label">Last Name</label>
							<input id="pass" type="text" name="lastName" class="input" required placeholder="Last Name">
						</div>
					</div>
					<div class="col-lg-6 my-2">
						<div class="group">
							<label for="pass" class="label">Email</label>
							<input id="pass" type="email" name="email" class="input" required  placeholder="username@abc.com">
						</div>
						<div class="group my-3">
							<label for="pass" class="label">Profile Image</label>
							<input type="file" id="inputAvatar" class="form-control" name="avatar" placeholder="Avatar Image" accept="image/x-png,image/jpg,image/jpeg" required style="background-color:black;color:rgb(255, 255, 255);font-weight:800;font-size:1.4rem;cursor:pointer;box-shadow:0 2px 3px 4px rgba(255, 255, 255, 0.051)">
						</div> 
						<div class="group">
							<label for="pass" class="label">Short Description</label>
							<input id="pass" type="text" name="description" class="input" required placeholder="Please ! Tell us something about you ?">
						</div>
						<div class="group">
							<label for="admin" class="label">AdminCode</label>
							<input id="admin" type="password" name="adminCode" class="input"  placeholder="AdminCode / Please Ignore This">
						</div>
					</div>
					<div class="col-lg-12 my-2">
						<div class="group bigbox px-4"><input type="submit" class="button" value="Sign Up"></div>
						<div class="group my-2 px-5">
							<a href="/login" style="text-decoration: none;"><input type="" class="button2 bigbox" value="Already Have an Account ! Sign In"></a>
						</div>
						</div>
					<div class="hr"></div>
				</div>
			</div>
			</form>
		<div class="for-pwd-htm">
			<div class="row">
				<div class="col-lg-6">
					<div class="group" style="text-align:center;margin:10px auto;">
						<label for="user" class="label" style="text-align:center;margin:5px auto;font-size: 1rem;">Sign Up Using Your GMail Account</label>
						<a href="/auth/google" role="button" style="text-decoration: none;"><img class="google full-circle" src="/images/google.svg" /></a>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="" style="text-align: center;">
					<p style="color: white;">Preferred to create a account using normal sign up method to add your description and profile pic of your choice for your Socials account.<br> Gmail works but you will be seen as an anonymous user.<br>(still be able to add post and comments on others)<br>Use the normal Sign Up method and add your gmail account there in the email portal.<br></p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12" style="text-align:center"><br>
					<p style="color: white;">(Use gmail login only if you wannna be anonymous and add post or comments or use the normal sign up method)</p>
					<p style="color: white;">For queries contact the below account : <br></p>
					<div class="group my-4 px-5">
						<a href="mailto:ddddevesh2001@gmail.com" style="text-decoration: none;font-weight:600"><input type="submit" class="button2 bigbox bold" value="Mail Us At - ddddevesh2001@gmail.com"></a>
					</div>
					<div class="group my-4 px-4"><a href="mailto:deveshprasad577@yahoo.com" style="text-decoration: none;font-weight:600"><input type="submit" class="button bigbox bold" value="Mail Us At - deveshprasad577@yahoo.com"></a></div></div>
					</div>
					<div class="hr"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<%- include("partials/footer") %>
